# Class 3. Transactions

In SQL, Transactions are a sequence of operations performed as a single logical unit of work. A transaction must be either fully completed or not executed at all. Transactions are used to ensure data integrity and consistency in databases.

The main TCL (Transaction Control Language) commands are:
- **BEGIN**: Starts a new transaction.
- **COMMIT**: Saves all changes made during the current transaction.
- **ROLLBACK**: Undoes all changes made during the current transaction.

## BEGIN

```sql
BEGIN;
```
- Starts a new transaction. All subsequent operations will be part of this transaction until a COMMIT or ROLLBACK is issued.
- Example:

```sql
BEGIN;
INSERT INTO accounts (account_id, balance) VALUES (1, 1000);
UPDATE accounts SET balance = balance - 100 WHERE account_id = 1;
UPDATE accounts SET balance = balance + 100 WHERE account_id = 2;
```

- In this example, we start a transaction to transfer money from one account to another. The changes will not be saved until we issue a COMMIT.
- If an error occurs during the transaction, we can use ROLLBACK to undo all changes made during the transaction.

## COMMIT

```sql
COMMIT;
```
- Saves all changes made during the current transaction to the database.
- Example:

```sql
BEGIN;

UPDATE bank_accounts
SET balance = balance - 200
WHERE name = 'Alice';

UPDATE bank_accounts
SET balance = balance + 200
WHERE name = 'Bob';

COMMIT;
```

- In this example, we commit the changes made during the transaction. The money transfer is now permanent.

## ROLLBACK

```sql
ROLLBACK;
```
- Undoes all changes made during the current transaction.
- Example:

```sql
BEGIN;

UPDATE bank_accounts
SET balance = balance - 200
WHERE name = 'Alice';

UPDATE bank_accounts
SET balance = balance + 200
WHERE name = 'Bob';

-- This will violate the CHECK constraint and throw an error

ROLLBACK;
```

- In this example, we roll back the changes made during the transaction. The money transfer is not saved, and the database remains unchanged.
- This is useful in case of an error or if we decide not to proceed with the transaction.