# üéì Week 4 Homework: University Clubs Database

This homework can be run in the webpage, or open using Binder by clicking the Binder button above. To get your assignment graded, you will need to [accept the assignment](https://classroom.github.com/a/0P8svrst) and submit itthrough GitHub.

## üß∞ Technical Requirements

After accepting the assignment, you will need to complete the following tasks:

- Clone the repository to your local machine.
- Open your project using VSCode.
- To run this notebook locally you need to create a virtual environment and install the required packages. You can do this by running the following commands in your terminal:

```bash
python -m venv .venv
source .venv/bin/activate  # On Windows use .venv\Scripts\activate
pip3 install -r requirements.txt
```

After running these commands, you should be able to open the notebook in VS Code. Maybe you will need to install the Jupyter extension for VS Code. You can do this by searching for "Jupyter" in the extensions tab and installing it.

To run the notebook, you can use the "Run" button in the top right corner of the notebook. You can also run individual cells by clicking on them and pressing Shift + Enter. If you want to run all cells, you can use the "Run All" button in the top menu.

Make sure that, after completing the homework, you Commit and Push your changes to GitHub. You can do this on VS Code by clicking on the Source Control icon in the left sidebar, entering a commit message, and clicking on the checkmark icon to commit your changes. Then, click on the "..." icon and select "Push" to push your changes to GitHub.

In [10]:
%%capture
%load_ext sql
%sql sqlite:///
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## üß† Goal

Design and query a relational database for managing a fictional university‚Äôs student clubs. In this assignment, you will:

* Design and create tables with primary and foreign key constraints.
* Define and create a view for aggregation.
* Execute SQL queries that extract useful information from your database.

## üèóÔ∏è Task Overview

You are tasked with building a database that tracks:

* Students and their majors
* Clubs and their foundation years
* Memberships (which students belong to which clubs, their role, and join date)

## üîß Part 1: Create the Database Schema

Write SQL CREATE TABLE statements for the following entities:

### Students

|  <br>Column  	|  <br>Type  	|  <br>Constraints  	|
|---	|---	|---	|
|  <br>student_id  	|  <br>INTEGER  	|  <br>Primary Key  	|
|  <br>name  	|  <br>TEXT  	|  <br>Not Null  	|
|  <br>major  	|  <br>TEXT  	|  <br>Not Null  	|
|  <br>year  	|  <br>INTEGER  	|  <br>Must be between 1 and 5 (inclusive)  	|


### Clubs

|  <br>Column  	|  <br>Type  	|  <br>Constraints  	|
|---	|---	|---	|
|  <br>club_id  	|  <br>INTEGER  	|  <br>Primary Key  	|
|  <br>name  	|  <br>TEXT  	|  <br>Not Null  	|
|  <br>foundation_year  	|  <br>INTEGER  	|  <br>	|

### Memberships

|  <br>Column  	|  <br>Type  	|  <br>Constraints  	|
|---	|---	|---	|
|  <br>student_id  	|  <br>INTEGER  	|  <br>Foreign Key -> Students(student_id), part of composite Primary Key  	|
|  <br>club_id  	|  <br>INTEGER  	|  <br>Foreign Key -> Clubs(club_id), part of composite Primary Key  	|
|  <br>joined_date  	|  <br>DATE  	|  <br>	|
|  <br>role  	|  <br>TEXT  	|  <br>Must be one of 'member', 'president', 'secretary'  	|

‚ö†Ô∏è Make sure to define primary keys and foreign keys correctly in your schema.

## üîß Part 1: Create the Database Schema

Write SQL CREATE TABLE statements for the following entities:

### Students

|  <br>Column  	|  <br>Type  	|  <br>Constraints  	|
|---	|---	|---	|
|  <br>student_id  	|  <br>INTEGER  	|  <br>Primary Key  	|
|  <br>name  	|  <br>TEXT  	|  <br>Not Null  	|
|  <br>major  	|  <br>TEXT  	|  <br>Not Null  	|
|  <br>year  	|  <br>INTEGER  	|  <br>Must be between 1 and 5 (inclusive)  	|




|  <br>Column  	|  <br>Type  	|  <br>Constraints  	|
|---	|---	|---	|
|  <br>student_id  	|  <br>INTEGER  	|  <br>Foreign Key ‚Üí Students(student_id), part of composite Primary Key  	|
|  <br>club_id  	|  <br>INTEGER  	|  <br>Foreign Key ‚Üí Clubs(club_id), part of composite Primary Key  	|
|  <br>joined_date  	|  <br>DATE  	|  	|
|  <br>role  	|  <br>TEXT  	|  <br>Must be one of 'member', 'president', 'secretary'  	|

In [2]:
%%sql
-- Create your tables in here

 * sqlite:///
Done.

[]

To verify if your tables were created correctly, we will insert some data into them and check if the constraints are working as expected.

In [9]:
%%sql

-- Insert sample students
INSERT INTO Students (student_id, name, major, year) VALUES
(1, 'Alice', 'Computer Science', 3),
(2, 'Bob', 'Mathematics', 2),
(3, 'Carol', 'Biology', 4),
(4, 'Dave', 'History', 1),
(5, 'Eva', 'Physics', 5)
(6, 'Frank', 'Literature', 3),
(7, 'Grace', 'Chemistry', 2),
(8, 'Henry', 'Computer Science', 4);

-- Insert sample clubs
INSERT INTO Clubs (club_id, name, foundation_year) VALUES
(1, 'Robotics Club', 2005),
(2, 'Debate Club', 2015),
(3, 'Chess Club', 1999)
(4, 'Environmentalists', 2012);

-- Insert sample memberships
INSERT INTO Memberships (student_id, club_id, joined_date, role) VALUES
(1, 1, '2023-01-10', 'president'),
(1, 3, '2024-02-14', 'member'),
(2, 3, '2023-09-01', 'member'),
(3, 2, '2024-03-03', 'secretary'),
(4, 1, '2024-01-15', 'member'),
(5, 2, '2023-11-11', 'member'),
(5, 4, '2024-03-12', 'president'),
(6, 4, '2024-03-12', 'member'),
(7, 3, '2024-03-20', 'member'),
(8, 1, '2024-04-01', 'secretary'),
(8, 2, '2023-10-10', 'member');

 * sqlite:///
(sqlite3.OperationalError) near "(": syntax error
[SQL: -- Insert sample students
INSERT INTO Students (student_id, name, major, year) VALUES
(1, 'Alice', 'Computer Science', 3),
(2, 'Bob', 'Mathematics', 2),
(3, 'Carol', 'Biology', 4),
(4, 'Dave', 'History', 1),
(5, 'Eva', 'Physics', 5)
(6, 'Frank', 'Literature', 3),
(7, 'Grace', 'Chemistry', 2),
(8, 'Henry', 'Computer Science', 4);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## üõë Warning: Only move ahead if your tables were created correctly. If you encounter any errors, please fix them before proceeding.

## üëÄ Part 2: View Requirement

Create a view showing each student along with the number of clubs they belong to. The view should include the following columns:

* Student ID
* Student Name
* Number of Clubs

In [ ]:
%%sql

-- Create your view in here

## üîç Part 3: Query Tasks

Students must write SQL queries to answer:

1.	List all clubs founded before the year 2010.
2.	Find students who are presidents of more than one club.
3.	Show each club with the number of current members.
4.	List all students who are not part of any club.
5.	Get the top 3 clubs with the most members.
6. List all students who are members of more than one club.
7. What is the average number of clubs per student?

In [ ]:
%%sql

-- 1. CrList all clubs founded before the year 2010.

 * sqlite:///
Done.

[]

In [ ]:
%%sql

-- 2. Find students who are presidents of more than one club.

 * sqlite:///
Done.

[]

In [ ]:
%%sql

-- 3. Show each club with the number of current members.

 * sqlite:///
Done.

[]

In [ ]:
%%sql

-- 4. List all students who are not part of any club.

 * sqlite:///
Done.

[]

In [ ]:
%%sql

-- 5. Get the top 3 clubs with the most members.

 * sqlite:///
Done.

[]

In [8]:
%%sql

-- 6. List all students who are members of more than one club.

 * sqlite:///
Done.

[]

In [ ]:
%%sql

-- 7. What is the average number of clubs per student?

### Everything works? ü•≥ Commit and push your changes to GitHub.