# SQL Set Operations

UNION, UNION ALL, INTERSECT, EXCEPT