# First Normal Form (1NF)

## üß† What is 1NF?

In relational database theory, a table is in **First Normal Form (1NF)** if it meets the following key criteria:

> ‚ÄúThe domain of each attribute must include only atomic (simple, indivisible) values, and the value of any attribute in a tuple must be a single value from that domain.‚Äù
> 
> ‚Äî Elmasri & Navathe, Fundamentals of Database Systems

> ‚ÄúWe assume that all relations are in 1NF. That is, each field contains only atomic values, and there are no sets or lists of values.‚Äù
> 
> ‚Äî Ramakrishnan & Gehrke, Database Management Systems

> ‚ÄúA relation is in first normal form if the domain of each attribute contains only atomic values and the value of each attribute contains only a single value from that domain.‚Äù
> 
> ‚Äî Silberschatz, Korth & Sudarshan, Database System Concepts

‚úÖ **In Simple Terms:**

* Each column contains **atomic** (indivisible) values.
* No lists, arrays, or repeating groups in any column.
* Each row is **uniquely identifiable** (usually by a primary key).

## üö´ Example 1: Students with Multiple Phone Numbers

‚ùå **Not in 1NF**

|  <br>StudentID  	|  <br>Name  	|  <br>PhoneNumbers  	|
|---	|---	|---	|
|  <br>1001  	|  <br>Alice  	|  <br>555-1234, 555-5678  	|
|  <br>1002  	|  <br>Bob  	|  <br>555-8765  	|
|  <br>1003  	|  <br>Clara  	|  <br>555-1111, 555-2222  	|

**Why it violates 1NF:**

* The column `PhoneNumbers` contains multiple values (comma-separated).
* These are not **atomic**: each field should contain a single phone number.

This violates the fundamental principle of 1NF as discussed by all major DBMS textbooks: no sets or lists in a column.

‚úÖ **Rewritten in 1NF**

|  <br>StudentID  	|  <br>Name  	|  <br>PhoneNumber  	|
|---	|---	|---	|
|  <br>1001  	|  <br>Alice  	|  <br>555-1234  	|
|  <br>1001  	|  <br>Alice  	|  <br>555-5678  	|
|  <br>1002  	|  <br>Bob  	|  <br>555-8765  	|
|  <br>1003  	|  <br>Clara  	|  <br>555-1111  	|
|  <br>1003  	|  <br>Clara  	|  <br>555-2222  	|

**Now** each attribute value is **atomic**. The relation satisfies 1NF.

## üö´ Example 2: Orders and Lists of Products

‚ùå **Not in 1NF**

|  <br>OrderID  	|  <br>Customer  	|  <br>Products Ordered  	|
|---	|---	|---	|
|  <br>2001  	|  <br>Alice  	|  <br>Pen, Notebook, Eraser  	|
|  <br>2002  	|  <br>Bob  	|  <br>Notebook  	|
|  <br>2003  	|  <br>Charlie  	|  <br>Pencil, Marker  	|

**Violation:**

* `Products Ordered` is a **repeating group**‚Äîa single attribute storing **multiple values**.
* Querying individual products becomes harder; violates **atomicity**.

‚úÖ **1NF-Compliant Version**

|  <br>OrderID  	|  <br>Customer  	|  <br>Product  	|
|---	|---	|---	|
|  <br>2001  	|  <br>Alice  	|  <br>Pen  	|
|  <br>2001  	|  <br>Alice  	|  <br>Notebook  	|
|  <br>2001  	|  <br>Alice  	|  <br>Eraser  	|
|  <br>2002  	|  <br>Bob  	|  <br>Notebook  	|
|  <br>2003  	|  <br>Charlie  	|  <br>Pencil  	|
|  <br>2003  	|  <br>Charlie  	|  <br>Marker  	|

Following *Silberschatz et al.*, we‚Äôve eliminated the repeating group by **creating a separate row for each product**.

## üö´ Example 3: Courses with Multiple Instructors

‚ùå **Not in 1NF**

|  <br>CourseID  	|  <br>CourseName  	|  <br>Instructors  	|
|---	|---	|---	|
|  <br>CS101  	|  <br>Intro to CS  	|  <br>Smith, Johnson  	|
|  <br>MATH201  	|  <br>Calculus I  	|  <br>Lee  	|
|  <br>HIST202  	|  <br>World History  	|  <br>Nguyen, Clark, Adams  	|

**Why it‚Äôs invalid:**

* The `Instructors` field contains sets of values, stored as comma-separated lists.
* This violates 1NF ‚Äî each field must store a single instructor.

‚úÖ **Converted to 1NF**

|  <br>CourseID  	|  <br>CourseName  	|  <br>Instructor  	|
|---	|---	|---	|
|  <br>CS101  	|  <br>Intro to CS  	|  <br>Smith  	|
|  <br>CS101  	|  <br>Intro to CS  	|  <br>Johnson  	|
|  <br>MATH201  	|  <br>Calculus I  	|  <br>Lee  	|
|  <br>HIST202  	|  <br>World History  	|  <br>Nguyen  	|
|  <br>HIST202  	|  <br>World History  	|  <br>Clark  	|
|  <br>HIST202  	|  <br>World History  	|  <br>Adams  	|

Now each tuple represents **one course‚Äìinstructor pair**, and every attribute is **atomic**.

## ‚ö†Ô∏è Practical Note for SQLite and Other DBMSs

SQLite doesn‚Äôt support ARRAY types ‚Äî which helps reinforce 1NF. However, students may use TEXT fields to store JSON or comma-separated values, like:

```sql
INSERT INTO courses (Instructors) VALUES ('["Smith", "Johnson"]');
```

While technically valid in SQLite, this violates the **relational model** and **1NF**, as the value is not atomic in a relational sense.

## ‚úÖ Summary Table

|  <br>Criterion  	|  <br>Violates 1NF  	|  <br>Reason  	|
|---	|---	|---	|
|  <br>Multi-valued attributes (lists)  	|  <br>‚úÖ Yes  	|  <br>Not atomic  	|
|  <br>Single value per field  	|  <br>‚ùå No  	|  <br>1NF-compliant  	|
|  <br>Repeating groups  	|  <br>‚úÖ Yes  	|  <br>Breaks the structure of relational tuples  	|
|  <br>Flattened rows per item  	|  <br>‚ùå No  	|  <br>Conforms to relational model and 1NF  	|

## ü§ñ Coding Example

### Table Violating 1NF

| StudentID | Name  | Subjects         |
|-----------|-------|------------------|
| 1         | Alice | Math, Science    |
| 2         | Bob   | History, Literature |

**Why it violates 1NF:** The "Subjects" column contains non-atomic values (multiple subjects in a single cell).

In [3]:
# Import SQLite library
import sqlite3

# Create an in-memory SQLite database
connection = sqlite3.connect(':memory:')
cursor = connection.cursor()

In [4]:
# Create a table that violates 1NF
cursor.execute('''
CREATE TABLE Students (
    StudentID INTEGER PRIMARY KEY,
    Name TEXT,
    Subjects TEXT
)''')

# Insert data with non-atomic values
cursor.executemany('INSERT INTO Students (StudentID, Name, Subjects) VALUES (?, ?, ?)', [
    (1, 'Alice', 'Math, Science'),
    (2, 'Bob', 'History, Literature')
])

# Query the table
cursor.execute('SELECT * FROM Students')
for row in cursor.fetchall():
    print(row)

(1, 'Alice', 'Math, Science')
(2, 'Bob', 'History, Literature')

### Converting to 1NF

To achieve 1NF, we split the Subjects column into separate rows.

In [5]:
# Create a table in 1NF
cursor.execute('''
CREATE TABLE StudentSubjects (
    StudentID INTEGER,
    Name TEXT,
    Subject TEXT,
    PRIMARY KEY (StudentID, Subject)
)''')

# Insert data in 1NF
cursor.executemany('INSERT INTO StudentSubjects (StudentID, Name, Subject) VALUES (?, ?, ?)', [
    (1, 'Alice', 'Math'),
    (1, 'Alice', 'Science'),
    (2, 'Bob', 'History'),
    (2, 'Bob', 'Literature')
])

# Query the 1NF table
cursor.execute('SELECT * FROM StudentSubjects')
for row in cursor.fetchall():
    print(row)

(1, 'Alice', 'Math')
(1, 'Alice', 'Science')
(2, 'Bob', 'History')
(2, 'Bob', 'Literature')