# 3.2 DDL: AUTOINCREMENT

Table design principles using DDL commands, such as CREATE TABLE, DROP TABLE, **ALTER TABLE**, CREATE INDEX, DROP INDEX, CREATE VIEW, DROP VIEW.

Control columns values using constraints: primary keys, foreign keys, delete with CASCADE, CHECK, UNIQUE, NOT NULL, AUTOINCREMENT.

In [1]:
%%capture
%load_ext sql
%sql sqlite:///
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## ROWID and AUTOINCREMENT

SQLite uses a 64-bit signed integer as the rowid for each row in a table. The rowid is a unique identifier for each row and is automatically assigned by SQLite when a new row is inserted into the table.

Let's see how it works by creating a table for users without a primary key:

In [2]:
%%sql
DROP TABLE IF EXISTS users;

CREATE TABLE users (
    name TEXT NOT NULL,
    age INTEGER NOT NULL,
    email TEXT NOT NULL UNIQUE
);

INSERT INTO users (name, age, email) VALUES
    ('John', 32, 'john@john.com'),
    ('Mary', 19, 'mary@mary.com'),
    ('Roe', 22, 'roe@roe.com'),
    ('Sean', 62, 'sean@sean.com');

 * sqlite:///
Done.
Done.
4 rows affected.

[]

Now, let's query the data and see what happens:

In [3]:
%%sql
SELECT name, age, email
FROM users;

 * sqlite:///
Done.

[('John', 32, 'john@john.com'),
 ('Mary', 19, 'mary@mary.com'),
 ('Roe', 22, 'roe@roe.com'),
 ('Sean', 62, 'sean@sean.com')]

As you can see, there is no primary key. However, there is! The rowid is automatically created by SQLite and is used as the primary key for the table. To see the rowid, we can use the following query:

In [4]:
%%sql
SELECT rowid, name, age, email
FROM users;

 * sqlite:///
Done.

[(1, 'John', 32, 'john@john.com'),
 (2, 'Mary', 19, 'mary@mary.com'),
 (3, 'Roe', 22, 'roe@roe.com'),
 (4, 'Sean', 62, 'sean@sean.com')]

What if we have a primary key explicitly defined?

In [5]:
%%sql

DROP TABLE IF EXISTS users;

CREATE TABLE users (
    user_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER NOT NULL,
    email TEXT NOT NULL UNIQUE
);

INSERT INTO users (user_id, name, age, email) VALUES
    (1, 'John', 32, 'john@john.com'),
    (2, 'Mary', 19, 'mary@mary.com'),
    (3, 'Roe', 22, 'roe@roe.com'),
    (4, 'Sean', 62, 'sean@sean.com');
    
SELECT user_id, name, age, email
FROM users;

 * sqlite:///
Done.
Done.
4 rows affected.
Done.

[(1, 'John', 32, 'john@john.com'),
 (2, 'Mary', 19, 'mary@mary.com'),
 (3, 'Roe', 22, 'roe@roe.com'),
 (4, 'Sean', 62, 'sean@sean.com')]

Interesting... now where is the rowid?

In [6]:
%%sql

SELECT rowid, user_id, name, age, email
FROM users;

 * sqlite:///
Done.

[(1, 1, 'John', 32, 'john@john.com'),
 (2, 2, 'Mary', 19, 'mary@mary.com'),
 (3, 3, 'Roe', 22, 'roe@roe.com'),
 (4, 4, 'Sean', 62, 'sean@sean.com')]

So, in this case, `user_id`is the `row_id` column.

Also interesting is the fact that if you don't specify a value for the `user_id` column, SQLite will automatically assign a value to it. This is done by using the `AUTOINCREMENT` keyword, even when not include during the process of creating the table.

The maximum value for `rowid` is 9223372036854775807, which is the maximum value for a 64-bit signed integer. If you try to insert a value greater than this, SQLite will return an error. Also, if you insert a new item, and the value of `rowid` has reached the maximum value, SQLite will try to find an unused number. If there is no free number, it will throw an error.

SQLite recommends you don't use AUTOINCREMENT attribute as it requires extra CPU, memory, disk space and disk I/O overhead.