# Third Normal Form (3NF)

A table is in **3NF** if it is in 2NF and all non-key attributes are not only dependent on the primary key but are also **non-transitively dependent**.

That is, no non-key attribute depends on another non-key attribute.

## Table Violating 3NF

| EmployeeID | DepartmentID | DepartmentName |
|------------|--------------|----------------|
| 1          | 10           | HR             |
| 2          | 20           | Finance        |
| 3          | 10           | HR             |

**Why it violates 3NF:** The "DepartmentName" column is transitively dependent on "DepartmentID" through "EmployeeID".

In [1]:
# Import SQLite library
import sqlite3

# Create an in-memory SQLite database
connection = sqlite3.connect(':memory:')
cursor = connection.cursor()

In [2]:
# Create a table that violates 3NF
cursor.execute('''
CREATE TABLE Employees (
    EmployeeID INTEGER PRIMARY KEY,
    DepartmentID INTEGER,
    DepartmentName TEXT
)''')

# Insert data
cursor.executemany('INSERT INTO Employees (EmployeeID, DepartmentID, DepartmentName) VALUES (?, ?, ?)', [
    (1, 10, 'HR'),
    (2, 20, 'Finance'),
    (3, 10, 'HR')
])

# Query the table
cursor.execute('SELECT * FROM Employees')
for row in cursor.fetchall():
    print(row)

(1, 10, 'HR')
(2, 20, 'Finance')
(3, 10, 'HR')

## Converting to 3NF

To achieve 3NF, we separate the DepartmentName into a new table.

The new tables are in 3NF as they do not contain any transitive dependencies.

In [3]:
# Create tables in 3NF
cursor.execute('''
CREATE TABLE Departments (
    DepartmentID INTEGER PRIMARY KEY,
    DepartmentName TEXT
)''')

cursor.execute('''
CREATE TABLE EmployeeDetails (
    EmployeeID INTEGER PRIMARY KEY,
    DepartmentID INTEGER,
    FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID)
)''')

# Insert data into 3NF tables
cursor.executemany('INSERT INTO Departments (DepartmentID, DepartmentName) VALUES (?, ?)', [
    (10, 'HR'),
    (20, 'Finance')
])

cursor.executemany('INSERT INTO EmployeeDetails (EmployeeID, DepartmentID) VALUES (?, ?)', [
    (1, 10),
    (2, 20),
    (3, 10)
])

# Query the 3NF tables
print('Departments Table:')
cursor.execute('SELECT * FROM Departments')
for row in cursor.fetchall():
    print(row)

print('\nEmployeeDetails Table:')
cursor.execute('SELECT * FROM EmployeeDetails')
for row in cursor.fetchall():
    print(row)

Departments Table:
(10, 'HR')
(20, 'Finance')

EmployeeDetails Table:
(1, 10)
(2, 20)
(3, 10)